<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4.0.xsd" 
         version="4.0">
    
    <!-- Nom de l'application web -->
    <display-name>Hello World</display-name>

    <!-- Déclaration du servlet -->
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>hello.HelloWorld.HelloWorld</servlet-class>
    </servlet>

    <!-- Mappage du servlet -->
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/world</url-pattern>
    </servlet-mapping>

    <!-- Déclaration du servlet -->
    <servlet>
        <servlet-name>HomeWorld</servlet-name>
        <servlet-class>hello.HelloWorld.HomeWorld</servlet-class>
    </servlet>

    <!-- Mappage du servlet -->
    <servlet-mapping>
        <servlet-name>HomeWorld</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>
